body{
    background: black;
    font-style: 20px Arial;
    color: blue;
}

h1{
    color:white;
}
.container{
    background: grey;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    width:80%
       

}
.widthTotal {
    grid-column: 1/10;
}
.box-1{
    background-color: red;
}